/* admin-layout.component.css */
.admin-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
}

.admin-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  position: relative;
}

.nav-items {
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-items li {
  flex: 1;
  text-align: center;
}

.nav-items li a {
  color: #2e7d32;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
}

.nav-items li a.active {
  font-weight: bold;
}
.nav-items li a:hover {
  background-color: rgba(46, 125, 50, 0.1);
  border-radius: 10px;
}
.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: none;
  border: none;
}

.menu-bar {
  width: 25px;
  height: 3px;
  background-color: #2e7d32;
  margin: 4px 0;
}

/* Pop-up Menu */
.popup-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  border-left: 1px solid #ccc;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.popup-menu.show-popup {
  transform: translateX(0);
}

.popup-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.popup-menu ul li {
  margin: 10px 0;
}

.popup-menu ul li button {
  color: #2e7d32;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.popup-menu ul li button:hover {
  background-color: rgba(46, 125, 50, 0.1);
}

.close-popup {
  background: none;
  border: none;
  color: #2e7d32;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  align-self: flex-end;
}

.admin-content {
  width: 100%;
}
