<div class="container">
  <div class="categories-container">
    <div class="header">
      <div class="formdiv">
        <mat-form-field appearance="outline" class="matformfield">
          <mat-label>Search Categories</mat-label>
          <input matInput [(ngModel)]="categoriesearchTerm" (keyup)="categoriefilterchange()" />
        </mat-form-field>
      </div>
      <button class="add_item btn btn-outline-primary"
        (click)="categorieOnAdding = !categorieOnAdding">
        <i class="bi bi-plus-circle"></i> Add Categorie
      </button>
    </div>
    <mat-divider style="margin: 10px 0;"></mat-divider>
    <div *ngIf="categorieOnAdding" class="add-item-form">
      <mat-form-field appearance="outline" class="matformfield">
        <mat-label>Categorie</mat-label>
        <input matInput [(ngModel)]="newCategorie.libelle"/>
      </mat-form-field>
      <div class="form-actions">
        <button class="btn btn-primary" (click)="addCategorie()">Save</button>
        <button class="btn btn-danger" (click)="categorieOnAdding = false">Cancel</button>
      </div>
    </div>
    <div class="table-container">
      <table mat-table [dataSource]="categoriedataSource" matSort class="mat-elevation-z8 clients-table">
        <!-- Categorie Column -->
        <ng-container matColumnDef="Libelle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorie </th>
          <td mat-cell *matCellDef="let categorie">
            <span *ngIf="!categorie.onediting">{{categorie.libelle}}</span>
            <input *ngIf="categorie.onediting" matInput [(ngModel)]="editedCategorie.libelle" />
          </td>
        </ng-container>

        <!-- Options Column -->
        <ng-container matColumnDef="Options">
          <th mat-header-cell *matHeaderCellDef> Options </th>
          <td mat-cell *matCellDef="let categorie">
            <button class="btn btn-outline-primary btn-sm" *ngIf="categorie.onediting && categorieEditing"
              (click)="editCategorie(categorie)">
              <i class="bi bi-floppy"></i> Save
            </button>
            <button class="btn btn-outline-success btn-sm" *ngIf="!categorie.onediting && !categorieEditing"
              (click)="categorieOnEditing(categorie)">
              <i class="bi bi-pencil-square"></i> Edit
            </button>
            <button *ngIf="!categorie.onediting && !categorieEditing" class="btn btn-outline-danger btn-sm" (click)="deleteCategorie(categorie)">
              <i class="bi bi-trash3-fill"></i> Delete
            </button>
            <button *ngIf="categorie.onediting && categorieEditing" class="btn btn-outline-danger btn-sm" (click)="categorie.onediting = false ; categorieEditing=false">
              <i class="bi bi-trash3-fill"></i> cancel
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginatorCategories [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of categories">
      </mat-paginator>
    </div>
  </div>


  <div class="uniter-container">
    <div class="header">
      <div class="formdiv">
        <mat-form-field appearance="outline" class="matformfield">
          <mat-label>Search Unites</mat-label>
          <input matInput [(ngModel)]="categoriesearchTerm" (keyup)="categoriefilterchange()" />
        </mat-form-field>
      </div>
      <button class="add_item btn btn-outline-primary"
        (click)="uniteOnAdding = !uniteOnAdding">
        <i class="bi bi-plus-circle"></i> Add Unite
      </button>
    </div>
    <mat-divider style="margin: 10px 0;"></mat-divider>
    <div *ngIf="uniteOnAdding" class="add-item-form">
      <mat-form-field appearance="outline" class="matformfield">
        <mat-label>Categorie</mat-label>
        <input matInput [(ngModel)]="newUnite.libelle" />
      </mat-form-field>
      <div class="form-actions">
        <button class="btn btn-primary" (click)="addCategorie()">Save</button>
        <button class="btn btn-danger" (click)="uniteOnAdding = false">Cancel</button>
      </div>
    </div>
    <div class="table-container">
      <table mat-table [dataSource]="unitedataSource" matSort class="mat-elevation-z8 clients-table">
        <!-- Categorie Column -->
        <ng-container matColumnDef="Libelle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Unite </th>
          <td mat-cell *matCellDef="let unite">
            <span *ngIf="!unite.onediting">{{unite.libelle}}</span>
            <input *ngIf="unite.onediting" matInput [(ngModel)]="editedUnite.libelle" />
          </td>
        </ng-container>

        <!-- Options Column -->
        <ng-container matColumnDef="Options">
          <th mat-header-cell *matHeaderCellDef> Options </th>
          <td mat-cell *matCellDef="let unite">
            <button class="btn btn-outline-primary btn-sm" *ngIf="unite.onediting && uniteEditing"
              (click)="editCategorie(unite);uniteEditing=false">
              <i class="bi bi-floppy"></i> Save
            </button>
            <button class="btn btn-outline-success btn-sm" *ngIf="!unite.onediting  && !uniteEditing"
              (click)="uniteOnEditing(unite)">
              <i class="bi bi-pencil-square"></i> Edit
            </button>
            <button *ngIf="!unite.onediting && !uniteEditing" class="btn btn-outline-danger btn-sm" (click)="deleteUnite(unite)">
              <i class="bi bi-trash3-fill"></i> Delete
            </button>
            <button *ngIf="unite.onediting && uniteEditing" class="btn btn-outline-danger btn-sm" (click)="unite.onediting=false;uniteEditing=false">
              <i class="bi bi-trash3-fill"></i> Cancel
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginatorUnites [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of Unites">
      </mat-paginator>
    </div>
  </div>
</div>