.clients-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: auto;
}

.clients-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.matformfield {
  width: 100%;
  max-width: 300px; /* Adjust the maximum width as needed */
  margin-right: 20px; /* Add space between the search field and the button */
}

.add-client-btn {
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-client-btn .bi {
  margin-right: 5px;
}

.add-client-form {
  margin-bottom: 30px;
  background-color: #d4edda; /* Light green background */
  padding: 15px;
  border-radius: 5px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.clients-table-container {
  overflow-x: auto; /* Add horizontal scroll for small screens */
}



.clients-table .btn-sm {
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  margin: 5px;
}

.mat-mdc-cell{
  border: 1px solid rgb(130, 130, 130);
  text-align: center;
}
.mat-mdc-row:nth-child(even){
  background-color: #e3f0e6;  
}
.mat-mdc-header-cell{
  border: 1px solid rgb(130, 130, 130);
  text-align: center;
}
.mat-mdc-header-row{
  border: 1px solid rgb(130, 130, 130);
  background-color: #56be6e;
}
.mat-mdc-paginator{
  border: 1px solid rgb(130, 130, 130);
}
