body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .login-header {
    margin-bottom: 20px;
  }
  
  .login-header h1 {
    color: #2e7d32;
    margin-bottom: 10px;
  }
  
  .login-header p {
    color: #555;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #2e7d32;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #1b5e20;
  }
  
  .login-footer {
    margin-top: 20px;
  }
  
  .login-footer p {
    color: #555;
  }
  
  .login-footer a {
    color: #2e7d32;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }