/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/magenta-violet.css'; 
/* body{
    background-image: url('../public/loginBackGround.jpg');
    background-size: cover;
} */
body{
    background: linear-gradient(to bottom right, rgb(0, 0, 0), #2e7d32);
    height: 100vh;
}